.mapouter {
	position: relative;
	text-align: right;
	box-shadow: 12px 10px 17px -8px rgba(0, 0, 0, 0.17);
	height: 200px;
	width: 300px;
	margin-top: 1.5rem;
}
.gmap_canvas {
	overflow: hidden;
	box-shadow: 12px 10px 17px -8px rgba(0, 0, 0, 0.17);
	background: none !important;
	height: 200px;
	width: 300px;
}

@media screen and (min-width: 300px) and (max-width: 369px) {
	.mapouter {
		margin-left: -24%;
		transform: scale(0.85);
	}
	.gmap_canvas {
		transform: scale(0.85);
	}
}

@media screen and (min-width: 370px) and (max-width: 399px) {
	.mapouter {
		margin-left: -8%;
		transform: scale(0.95);
	}
	.gmap_canvas {
		transform: scale(0.95);
	}
}

@media screen and (min-width: 400px) and (max-width: 699px) {
	.mapouter {
		margin-left: -8%;
		height: 200px;
		width: 300px;
	}
	.gmap_canvas {
		height: 200px;
		width: 300px;
	}
}

@media screen and (min-width: 700px) and (max-width: 949px) {
	.mapouter {
		margin-left: 0%;
	}
}

@media screen and (min-width: 950px) and (max-width: 1099px) {
	.mapouter {
		margin-left: 0%;
	}
}
