.mapouter {
	position: relative;
	text-align: right;
	box-shadow: 12px 10px 17px -8px rgba(0, 0, 0, 0.17);
	height: 200px;
	width: 300px;
	margin-top: 1.5rem;
}
.gmap_canvas {
	overflow: hidden;
	box-shadow: 12px 10px 17px -8px rgba(0, 0, 0, 0.17);
	background: none !important;
	height: 200px;
	width: 300px;
}

@media screen and (min-width: 300px) {
	.mapouter {
		margin-left: -8%;
		width: 200px;
		height: 200px;
	}
	.gmap_canvas {
		width: 200px;
		height: 200px;
	}
}

@media screen and (min-width: 700px) {
	.mapouter {
		margin-left: -8%;
	}
}

@media screen and (min-width: 950px) {
	.mapouter {
		margin-left: -25%;
	}
}

@media screen and (min-width: 1100px) {
	.mapouter {
		margin-left: -35%;
	}
}

@media screen and (min-width: 1200px) {
	.mapouter {
		margin-left: -40%;
	}
}

@media screen and (min-width: 1300px) {
	.mapouter {
		margin-left: -50%;
	}
}
